@use './variables';
@use 'sass:color';

@include variables.define-theme(variables.$themes);

body {
  margin: 0;
}

.grid {
  display: grid;

  width: 395px;
  height: auto;

  margin: 50px auto;

  grid-template-columns: 395px;
  grid-template-rows: 1fr 1fr 2fr 6fr;
  grid-template-areas:
    'themes'
    'calculations-display'
    'numbers-display'
    'buttons';

  background-color: var(--dark-color);
  border-radius: variables.$border-radius;
  box-shadow: 0px 7px 20px rgb(41, 41, 41);
}

.themes {
  grid-area: themes;

  align-self: center;

  margin-left: 10px;
}

.calculations-display {
  display: flex;
  
  grid-area: calculations-display;

  color: var(--text-color-dimmed);
  
  font-family: variables.$font-family;
}

.numbers-display {
  grid-area: numbers-display;

  color: var(--text-color);
  font-size: variables.$font-display-size;
  font-family: variables.$font-family;
}

.display-positioning {
  justify-self: right;

  margin-right: 7px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: flex-end;

  flex-wrap: wrap;

  grid-area: buttons;

  button {
    width: 38px;
    height: 35px;

    flex-grow: 1;

    border: solid 0.5px var(--dark-color);

    color: var(--text-color);
    background-color: var(--medium-color);
    font-size: variables.$font-values-size;

    &:nth-child(41) {
      border-bottom-left-radius: variables.$border-radius;
    }

    &:last-child {
      border-bottom-right-radius: variables.$border-radius;
    }

    &:hover {
      background-color: var(--medium-color-dimmed);
    }

    &:focus-visible {
      outline: 2px solid black;
      border: solid rgb(255, 255, 255);
    }

    &:disabled {
      background-color: var(--medium-color-dimmed);
      color: var(--text-color-dimmed);
      border-color: var(--light-color);
    }
  }

  .number-button-color {
    background-color: var(--light-color);
    font-size: variables.$font-numbers-size;

    &:hover {
      background-color: var(--light-color-dimmed);
    }
  }

  .operator-button-color {
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-dimmed);
    }
  }

  .long-button {
    flex-grow: 27;
  }
}

input[type='radio'] {
  appearance: none;
  width: 15px;
  height: 15px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #999;
  background-color: #fff;
  cursor: pointer;
  position: relative;

  &:checked {
    border: 2px solid white;
  }
}

input[value='dark'] {
  background-color: variables.$dark-theme-radio-color;
}

input[value='light'] {
  background-color: variables.$light-theme-radio-color;
}

input[value='cute'] {
  background-color: variables.$cute-theme-radio-color;
}
