$font-family: sans-serif;

$font-values-size: 12px;
$font-numbers-size: 16px;
$font-display-size: 38px;

$border-radius: 10px;

$dark-theme-radio-color: black;
$dark-theme-dark-grey-color: #48494b;
$dark-theme-medium-grey-color: #5a5b5d;
$dark-theme-light-grey-color: #757678;
$dark-theme-orange-color: #f2a13d;
$dark-theme-text-color: #e8eaeb;

$light-theme-radio-color: #fff6d0;
$light-theme-pure-white-color: #ffffff;
$light-theme-medium-white-color: #f9f6e3;
$light-theme-yellowish-white-color: #fff1d6;
$light-theme-orange-color: #f2a13d;
$light-theme-text-color: #5b4111;

$pink-theme-radio-color: #ffa9bc;
$pink-theme-dark-pink-color: #ff419d;
$pink-theme-medium-pink-color: #ff89ba;
$pink-theme-light-pink-color: #ffb7cd;
$pink-theme-pink-color: #f76ca9;
$pink-theme-text-color: #f8f8f8;
